body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }
        .navbar {
            display: flex;
            background-color: #8E8ED9;
            height: 50px;
            width: 100%;
            align-items: center;  
            justify-content: space-around;

           
        }
        .navbar-contents {
            display: flex;
            gap: 60px;
            font-size: 10px;
            font-weight: bold;
            color: black;
            color: white;
            
        }
        .logo img{
            height: 30px;
            width: 30px;
        }
        .avatar img{
            height: 20px;
            width: 20px;
        }
        .banner img {
            height: 300px;
            width: 100%;
        }
        h1,h2 {
            text-align: center;
            font-size: 30px;
            color: #8E8ED9;
        }
        .car-card, .photos-gallery {
           display: flex;
           justify-content: space-around;
           flex-wrap: wrap;  
        }
        .card-images{
            box-shadow: #8E8ED9 0px 0px 10px;
            padding: 6px ;
            margin: 10px;
            border-radius: 10px;
        }
        .card-images img {
            border-radius: 10px;
            box-shadow: #8E8ED9 0px 0px 10px;
            width: 200px;
            height: 150px;
            object-fit: cover;    


        }
        .card-images p {
            font-size: 12px;
            font-weight: bold;
            color: #0d0d0e;
            font-family: Arial, sans-serif; 
            margin: 5px 0;
        }
        .card-images h1 {
            font-size: 16px;
            font-weight: bold;
           text-align: left;
            color: #0d0d0e;
            font-family: Arial, sans-serif; 
        }
        .card-images button {
            background-color: #823119;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 12px;
        }
       .gallery-images img {
            border-radius: 10px;
            box-shadow: #8E8ED9 0px 0px 10px;
            width: 300px;
            height: 150px;
            justify-content: center;
        }
        .gallery-images {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .contact-form {
            display: flex;
            justify-content:center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;
            
        }
        .contact-form img{
           height: 400px;
            width: 50%;
             box-shadow: #8E8ED9 0px 0px 10px;
        }
        .contact-form label {
            font-size: 14px;
            font-weight: bold;
            color: #0d0d0e;
            margin-bottom: 5px;
        }
        .contact-form button {
            background-color: #6d5bb7;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            margin-top: 10px;
        }
        .form {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 20px 10px 20px 10px;
            background-color: #f0f0f0;
            border-radius: 10px;
            box-shadow: #8E8ED9 0px 0px 10px;
        }
        .form input, .form textarea {
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .footer {
            background-color: #8E8ED9;
            color: white;
            text-align: center;
            padding: 20px 0;
            display: flex;
        }
        .footer img {
            height: 30px;
            width: 30px;
            margin: 0 10px;
            justify-content: center;
            border-radius: 50%;
        }
        .footer-part1{
            display: flex;
           flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 10px;
            gap: 10px;
           
        }

       .footer-logo ,footer-logo img{
           display: flex;
            justify-content: center;
            align-items: center;
       }
       .footer-part2, .footer-part3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 10px;
            gap: 10px;
        }
        .footer-part2 li , .footer-part3 li{
            list-style: none;
            font-size: 12px;
            color: white;
            cursor: pointer;
        }
        .footer-part2 span , .footer-part1 p , .footer-part3 span , .footer-part4 span {
            font-size: 14px;
            font-weight: bold;
            color: rgb(5, 5, 5);
            margin-bottom: 10px;
        }
        .footer-part4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            padding: 10px;
            border-radius: 10px;
            box-shadow: #8E8ED9 0px 0px 10px;
            width: 50%;
        }
        .email-input {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
        }
        .footer-part4 textarea {
            width: 200px;
            height: 60px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-right: 10px;
        }